.headerstyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  /* margin-bottom: 16px; */
  border-bottom: 1px solid var(--DARK);
  background-color: #257180;

  > nav {
    display: flex;
    gap: 30px;
  }
}
